// BRAND STYLES
@font-face {
  font-family: "OxfamHeadline";
  src: url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10070/oxfamglobalheadline-webfont.eot?v=1604328559000");
  src: url("hhttps://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10070/oxfamglobalheadline-webfont.eot?v=1604328559000#iefix")
      format("embedded-opentype"),
    url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10070/oxfamglobalheadline-webfont.woff?v=1604328562000")
      format("woff"),
    url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10070/oxfamglobalheadline-webfont.ttf?v=1604328561000")
      format("truetype"),
    url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10070/oxfamglobalheadline-webfont.svg?v=1604328560000")
      format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oxfam Global Headline";
  src: url("hhttps://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10070/oxfamglobalheadline-webfont.woff2?v=1604328562000")
      format("woff2"),
    url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10070/oxfamglobalheadline-webfont.woff?v=1604328562000")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oxfam TSTAR PRO";
  src: url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10070/oxfam_tstarpro-regular-webfont.eot?v=1604328555000");
  src: url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10070/oxfam_tstarpro-regular-webfont.eot?v=1604328555000?#iefix")
      format("embedded-opentype"),
    url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10070/oxfam_tstarpro-regular-webfont.woff2?v=1604328558000")
      format("woff2"),
    url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10070/oxfam_tstarpro-regular-webfont.woff?v=1604328558000")
      format("woff"),
    url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10070/oxfam_tstarpro-regular-webfont.svg?v=1604328556000")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oxfam TSTAR PRO";
  src: url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10070/oxfam_tstarpro-bold-webfont.eot?v=1604328518000");
  src: url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10070/oxfam_tstarpro-bold-webfont.eot?v=1604328518000?#iefix")
      format("embedded-opentype"),
    url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10070/oxfam_tstarpro-bold-webfont.woff2?v=1604328521000")
      format("woff2"),
    url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10070/oxfam_tstarpro-bold-webfont.woff?v=1604328521000")
      format("woff"),
    url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10070/oxfam_tstarpro-bold-webfont.ttf?v=1604328520000")
      format("truetype"),
    url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10070/oxfam_tstarpro-bold-webfont.svg?v=1604328519000")
      format("svg");
  font-weight: bold;
  font-style: normal;
}
