
#engrid[data-engrid-subtheme="oxfamus-iframeonly"] { 
    @at-root{
        .oxfamus-iframeonly{
            background: transparent;
        }
    }
    p{
        color: #ffffff;
        padding:0;
        margin-top:0;
    }
    .en__field label{
        color: #ffffff;
        display:none;
    }
    .en__field input{
        background-color: #eaeade;
    border: 1px solid transparent;
    box-shadow: inset 2px 2px 2px rgba(226,226,215,.96);
    transition: all 100ms ease-in-out;
    border-radius:0;
    }
    .en__field input::placeholder {
        content: "Enter your email address";
    }
    .en__submit{
        width: 30%;
        
    }
    .en__submit button{
        background: #fff;
        color: #e43989;
        transition: all 100ms ease-in-out;
    border: 0;
    cursor: pointer;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    padding: 10px 30px 10px 10px !important;
    position: relative;
    font-size: 1.8rem;
    line-height: 2rem;
    min-width: auto !important;
    border-radius: 0;
    
    }
    .en__submit button::after{
        border: 5px solid transparent;
    border-left-color: #e43989;
    content: " ";
    height: 0;
    right: 7px;
    margin-top: -5px;
    position: absolute;
    pointer-events: none;
    top: 50%;
    width: 0;
    }

}

